*{
    margin: 0;
    padding: 0;
    text-decoration: none;

}
body{
    height: 100vh;
    width: 100%;
    background-color: rgb(22, 22, 22);
    color: white;
    position: relative;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: rgb(30, 26, 59);
    color: white;
}

.nav-link{
    color: white;
    display: flex;
    text-decoration: none;
    background-color: rgb(10, 175, 10);
    padding: 10px;
    border-radius: 20px;
    letter-spacing: 2px;
    font-weight: 600;
}
.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 15px;
}
.notes-parent{
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    margin: 50px;
}
.note{
    min-height: 185px;
    width: 300px;
    border-top: 3px solid rgb(50, 218, 50);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    background-color: rgb(30, 26, 59);
    border-radius: 20px;
    flex-wrap: wrap;
}
.note-title{
    color: white;
    margin: 30px 10px 5px 15px;
}
.note-content{
    margin:10px 0px 20px 15px;
}
.created-at{
    margin-left: 10px;
    display: flex;
}

.trash-icon{
    cursor: pointer;
}
.trash-icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.date{
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 4rem;
}
.loader-icon{
    margin-left: 50px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.creat-note-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.create-note-form{
    height: 450px;
    width: 500px;
    background-color: rgb(44, 19, 92);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    
}
.create-note-form label{
    font-size: 20px;
    margin-left: 20px;

}
.create-note-form input{
    padding: 12px;
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}
.create-note-form h1{
    margin-left: 20px;
    margin-top: 10px;
}
.title{
    margin-top: 40px;
}
.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 15px;
}
.note-submit-btn{
    width: 100px;
    background-color: rgb(51, 216, 51);
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}
.back-to-home{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}